<h1><%= @user.full_name %> </h1>

<%= form_tag(follow_finder_user_path(@user.username)) do %>
  <%= text_field_tag "finder[username]", nil, placeholder: "username" %>

  <%= submit_tag "Follow user" %>
<% end %>
