<h1><%= @user.full_name %> </h1>

<% if current_user == @user %>
  <%= link_to("Follow another user", finder_user_path(@user.username)) %>
<% end %>

<h2>Following</h2>

<%= render partial: "users_list", locals: { users: @following } %>
